# Cloudflare Stream
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_STREAM_SIGNING_KEY=
CLOUD_API_KEY=113887323818911
CLOUD_API_SECRET=Pw-_Dhfy_IPmXrg3h6EORoVlz1g
CLOUD_NAME=dyib6rska
cluster="eu"
EMAIL_FROM="hello@dealonetwork.com"
EMAIL_PASS=u4aCvrpizM87
EMAIL_USER=hello@dealonetwork.com
GOOGLE_CLIENT_ID=816477875090-n2btim5cbcr5ru25b48q5v2qhfer7g1a.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=your-google-client-secret-from-google-cloud-console
JWT_SECRET=04409f6cc8d75cf327df32b98e91fef4b35d94a220cecc34b0b143ebd6454299
LINKEDIN_CLIENT_SECRET=WPL_AP1.hieLG8pALAUkwevt.eGCWIw==
LINKEDIN_CLIENT_ID=77ux5uzc5i95iz
MONGODB_URL=mongodb+srv://dealogroupincorporated:Uz20TFwgZ7BCELFV@cluster0.2t5iq.mongodb.net/dealo
NEXT_FIREBASE_CONFIG_API_KEY=AIzaSyAH1ikPiujzMfhj2LJpVFGU-eG5vOD1FUw
NEXT_NAIJA_RESULT_PINS=ZPtX3Eyz7s9dVabOokjh3eHIzPOmwgzWF0zrNvsW3zPLDiBmFTleND9BdULCDPt63oCchwp91UErG8Uhk7OPwXGlBme-FD7zS9kj_1720063894
NEXT_NAIJA_RESULT_PINS_API_BASE_URL='https://www.naijaresultpins.com/api/v1'
NEXT_PUBLIC_APP_URL=https://dealonetwork.com
NEXT_PUBLIC_BASE_URL=https://dealonetwork.com
NEXT_PUBLIC_GEMINI_API_KEY=AIzaSyAlxh5VUOPDY0A60EwdfWN6jSZdYchDgTw
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=AIzaSyDHIam76sJMRFzLRfdH6yM182WHnNEijr0
NEXT_PUBLIC_PUSHER_APP_KEY="2a7a18cc76e7b05df148"
NEXT_PUBLIC_STREAM_API_KEY=98wtrx3eu229
NEXT_PUBLIC_STREAM_IDNEXT_PUBLIC_STREAM_ID=1333796
NEXT_PUBLIC_STREAM_SECRET_KEY=jtjup7p9dfahhvmr5armfygz9n3bdc2jkdzyy3csvwkuswpyubtfkw24rnbna6c4
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_live_51NnrtSFtNphPHFihz602rOiKPWHcHG5KzLBTjTvyAl9g70F2XJ2L6VB8RgoymRtI0xh5NOCSsxLdEtf7PTXtuBO500UZl2KYAw
NEXT_PUBLIC_STRIPE_SECRET_KEY=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
NEXT_PUBLIC_YOUTUBE_API_KEY=AIzaSyDHIam76sJMRFzLRfdH6yM182WHnNEijr0
NEXTAUTH_SECRET=dpOpG28nAhakZEHsUS0rpNkD8phtXri3rPeZRWnPO+s
NEXTAUTH_URL=https://dealonetwork.com
PUSHER_APP_ID="1855414"
PUSHER_SECRET="fec9694f9806d71423ef"




